@use "../common/variables";
@use "../common/mixin";
.content-box {
  .page-about-box {
    margin-bottom: 40px;
    p {
      line-height: 30px;
      margin-bottom: 0px;
      font-weight: 500;
      @include mixin.sp {
        line-height: 25px!important;
      }
    }
  }
  .page-about_img {
    margin-bottom: 50px;
  }
  .page-about__headtext {
    @include mixin.sp {
      line-height: 20px;
    }
  }
  .outline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .outline__headtext{
      width: 100%;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .outline__img {
      width: 100%;
    }
    .outline__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include mixin.sp {
        width: 100%;
      }
      .outline__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 15px;
        .outline__title {
          width: 180px;
          padding: 15px 0px;
          color: variables.$main-black;
          background-color: variables.$sub-gray;
          border-radius: 100px;
          text-align: center;
          font-size: clamp(10px, 3.3vw, 14px);
          font-weight: bold;
          margin-right: 15px;
          @include mixin.sp {
            width: 110px;
          }
        }
        .outline__body {
          line-height: 2em;
          .outline__body--link {
            font-size: 12px;
            color: blue;
            text-decoration: underline;
            font-weight: normal;
          }
          @include mixin.sp {
            font-size: clamp(10px, 3.3vw, 14px);
          }
        }
      }
    }
  }
}
