@use "../common/variables";
@use "../common/mixin";
.page-contact__headtext {
  width: 100%;
  line-height: 30px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px dotted variables.$main-black;
  // display: flex;
  // justify-content: flex-start;
  @include mixin.sp {
    line-height: 25px;
  }
}
.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  br { display: none; }
  .contact-list__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &:nth-child(1) {
      .contact-list__radio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        .wpcf7-list-item {
          margin-left: 0px;
          margin-bottom: 15px;
          input {
            transform: scale(1.2);
            accent-color: variables.$main-black;
            margin-right: 5px;
          }
        }
      }
    }
    &:nth-child(2), &:nth-child(3) {
      width: 47%;
    }
    @include mixin.sp {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        width: 100%;
      }
    }
    .contact-list__label {
      font-weight: bold;
      margin-bottom: 8px;
      @include mixin.sp {
        margin-bottom: 3px;
      }
    }
    &:nth-child(5) label, &:nth-child(6) label {
      position: absolute;
    }
    .wpcf7-form-control-wrap {
      width: 100%;
    }
    .contact-list__input {
      width: 100%;
      font-size: 16px;
      padding: 12px;
      background-color: variables.$sub-gray;
      border-radius: 50px;
      border: 1px solid rgba(134, 134, 134, 0.216);
      outline: none;
      margin-top: 10px;
    }
    .contact-list__textarea {
      width: 100%;
      font-size: 16px;
      line-height: 1.3em;
      padding: 12px;
      height: 200px;
      background-color: variables.$sub-gray;
      border-radius: 20px;
      border: 1px solid rgba(134, 134, 134, 0.216);
      resize: none;
      outline: none;
      margin-top: 13px;
    }
  }
}
.btn--contact {
  margin: 0 auto;
}
@include mixin.sp {
  .btn {
    width: clamp(200px,100%,300px);
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.contact--confirm__input-text {
  font-size: 15px;
  margin-top: 5px;
}
#cvBtn {
  margin-bottom: 10px;
}
#correctionBtn {
  background-color: variables.$sub-gray;
  color: variables.$main-black;
}

.page-contact--thanks__text {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 58svh;
}

