@use "../common/variables";
@use "../common/mixin";

.page-privacy__headtext {
  padding-bottom: 6px;
}
.page-privacy__title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid variables.$main-black;
  @include mixin.sp {
    font-size: 15px;
  }
}
.page-privacy__body {
  line-height: 1.7em;
  margin-bottom: 60px;
}