@use "../common/variables";
@use "../common/mixin";

.page-works-content-fv {
  width: 100vw;
  height: 100svh;
  background-color: variables.$main-black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: -1;
  @include mixin.sp {
    
  }
  .page-works-content-fv__background {
    opacity: 0.7;
    @include mixin.sp {
      width: auto;
      height: 100vh;
      position: relative;
      left: 80%;
    }
  }
  .works-item__sample-badge::after {
      content: "サンプル制作物";
      font-size: 14px;
      font-weight: bold;
      padding: 4px 10px;
      border-radius: 50px;
      background-color: variables.$badge-green ;
      color: variables.$text-white;
      font-family: 'Noto Sans JP';
      position: absolute;
      top: -30px;
    }
  .fv-textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    top: 40%;
    right: 10vw;
    transform: translateY(-50%);
    z-index: 0;
    
    @include mixin.sp {
      width: 100%;
      position: absolute;
      top: calc(50% - 50px);
      right: 0;
      margin-right: 10px;
    }
    .fv-textbox__title {
      font-size: 50px;
      font-weight: bold;
      color:variables.$text-white;
      letter-spacing: 10px;
      padding: 10px 0px 10px 50px;
      margin-bottom: 30px;
      @include mixin.sp {
        font-size: 7vw;
        line-height: 1.2em;
        letter-spacing: 1px;
        padding: 10px 0px 10px 10px;
        margin-bottom: 10px;
      }
    }
    .fv-textbox__cat, .fv-textbox__field, .fv-textbox__link {
      font-size: 14px;
      font-weight: bold;
      color: variables.$text-white;
      letter-spacing: 1px;
      padding: 5px 10px 7px 20px;
      margin-bottom: 10px;
      @include mixin.sp {
        font-size: clamp(12px,3vw, 18px);
        font-weight: 900;
        line-height: 1.7em;
        padding: 0px 10px 5px 10px;
      }
    }
    .fv-textbox__link {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: underline;
      @include mixin.sp {
        padding: 5px 10px;
      }
      img {
        width: 11px;
        height: 11px;
        margin-right: 7px;
        @include mixin.sp {
          width: 15px!important;
          height: 15px!important;
        }
      }
    }
  }
}
.page-works-content__content {
    margin-top: 100svh;
    .content-box {
      .container {
        @include mixin.sp {
          width: clamp(330px, 88%, 620px);
        }
        .page-works-content__headtext-box {
          .works-content-pageBtn {
            width: 100%;
            text-align: center;
            background: variables.$strong-color;
            font-weight: bold;
            margin-bottom: 40px;
            @include mixin.sp {
              display: block;
              width: 100%;
              margin: 0 auto;
              margin-bottom: 20px;
            }
          }
          .page-works-content__headtext-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
            @include mixin.sp {
              font-weight: 600;
              padding: 10px 0px;
              margin-bottom: 10px;
              @include mixin.strong-color
            }
          }
          p, .page-works-content__headtext-body {
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 0px;
            &:last-child {
              margin-bottom: 60px;
              @include mixin.sp {
                padding-top: 10px;
                margin-bottom: 20px;
              }
            }
            @include mixin.sp {
              line-height: 25px;
              margin-bottom: 10px;
              padding: 0px 0px;
            }
            img {
              box-shadow: 0px 0px 10px #00000046;
            }
          }
          .works-content__info-list {
            margin-top: 30px;
            margin-bottom: 30px;
            .works-content__info-item {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              a {
                color: blue;
                text-decoration: underline;
              }
              .works-content__info-item--title {
                width: 180px;
                padding: 10px 0px;
                color: variables.$main-black;
                background-color: variables.$sub-gray;
                border-radius: 100px;
                text-align: center;
                font-weight: bold;
                @include mixin.sp {
                  width: 49%;
                  margin-bottom: 0;
                }
              }
              .works-content__info-item--body {
                margin-bottom: 0;
                margin-left: 30px;
                @include mixin.sp {
                  margin-left: 15px;
                  padding-top: 0;
                }
              }
              &:nth-child(2) {
                .works-content__info-item--body {
                  @include mixin.sp {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .works-content__headtext-sub {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            letter-spacing: 0;
          }
          .works-content__info-other-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
            @include mixin.sp {
              margin-bottom: 20px;
            }
            .works-content__info-other-item {
              width: 32.5%;
              padding: 14.5px 0px;
              background-color: variables.$sub-gray;
              color: variables.$text-white;
              border-radius: 100px;
              font-weight: bold;
              text-align: center;
              margin-bottom: 10px;
              font-family: 'Noto Sans JP';
              @include mixin.sp {
                width: 49%;
                font-size: 14px;
                &:nth-child(9), &:nth-child(10) {
                  margin-bottom: 0;
                }
              }
            }
            .execution {
              background-color: variables.$main-black;
            }
          }
          .wp-video {
            width: 100% !important;
            margin-bottom: 30px;
            border-radius: 40px;
            overflow: hidden;
            @include mixin.sp {
              margin: 0 auto;
              padding: 0px 30px;
              margin-bottom: 30px;
            }
            video {
              width: 100%!important;
              height: auto!important;
            }
          }
        }
        img, .page-works-content__works-img {
          border-radius: 50px;
          margin-bottom: 50px;
          @include mixin.sp {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
          }
        }
      }
      .page-works-content__image-list{
        display: flex;
        justify-content: space-between;
        position: relative;
        transform: translateY(60px);
        @include mixin.sp {
          transform: translateY(40px);
        }
        &::before {
          content: "パソコン版";
          width: 49%;
          padding: 10px 40px;
          border-radius: 50px;
          background-color: variables.$main-black;
          color: variables.$text-white;
          font-weight: bold;
          font-family: 'Noto Sans JP';
          text-align: center;
          position: absolute;
          top: -43px;
          left: 0;
          @include mixin.sp {
            padding: 10px 20px;
            font-size: 13px;
            left: 0;
          }
        }
        .page-works-content__image-pc {
          width: 49%;
          height: 700px;
          overflow-y: scroll;
          border-radius: 30px;
          @include mixin.sp {
            height: 420px;
            border-radius: 20px;
          }
          img {
            width: 100%;
            border-radius: 30px;
            @include mixin.sp {
              border-radius: 20px;
            }
          }
          
        }
        &::after {
          content: "スマホ版";
          width: 49%;
          padding: 10px 40px;
          border-radius: 50px;
          background-color: variables.$main-black;
          color: variables.$text-white;
          font-family: 'Noto Sans JP';
          font-weight: bold;
          text-align: center;
          position: absolute;
          top: -43px;
          right: 0;
          @include mixin.sp {
            padding: 10px 20px;
            font-size: 13px;
          }
        }
        .page-works-content__image-sp {
          width: 49%;
          height: 700px;
          overflow-y: scroll;
          border-radius: 30px;
          @include mixin.sp {
            height: 420px;
            border-radius: 20px;
          }
          img {
            width: 100%;
            border-radius: 30px;
            @include mixin.sp {
              border-radius: 20px;
            }
          }
        }
      }
    }
}
